{
    "presets": [
        "@babel/env",
        ["@babel/stage-2", {
            "decoratorsLegacy": true
        }]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        ["@babel/plugin-transform-classes", {
            "loose": true
        }]
    ]
}
