{
    "presets": [
        "stage-2",
    ],
    "plugins": [
        "transform-runtime",
        ["transform-es2015-classes", {
            "loose": true,
        }]
    ],
    "env": {
        "es": {
            "presets": [
                ["env", {
                    "modules": false,
                }],
            ],
        },
        "cjs": {
            "presets": [
                "env",
            ],
        },
        // https://github.com/facebook/jest/issues/3845
        "test": {
            "plugins": ["transform-es2015-modules-commonjs"],
        },
    }
}
