{
    "presets": [
        ["env", {
            "modules": false
        }],
        "stage-2"
    ],
    "plugins": [
        "transform-runtime",
        ["transform-es2015-classes", {
            "loose": true
        }]
    ],
    // https://github.com/facebook/jest/issues/3845
    "env": {
        "test": {
            "plugins": ["transform-es2015-modules-commonjs"]
        }
    }
}
