{
  "extends": ["airbnb-base"],
  "parser": "babel-eslint",
  "rules": {
    "indent": [2, 4],
    "no-unused-vars": 1,
    "id-length": 0,
    "no-unused-expressions": 0,
    "prefer-rest-params": 0,
    "no-underscore-dangle": ["warn", { "allowAfterThis": true }],
    "no-param-reassign": ["error", { "props": false }],
    "import/no-named-as-default": 0,
    "max-len": 0,
    "prefer-template": 1,
    "no-restricted-syntax": 1,
    "consistent-return": 1,
    "comma-dangle": 0,
    "no-multi-assign": 0,
    "no-prototype-builtins": 0,
    "class-methods-use-this": 0,
    "arrow-parens": 0,
    "no-plusplus": 0,
    "no-console": 0,
    "no-unsafe-negation": 0
  },
  "parserOptions": {
    "ecmaFeatures": {
      "ecmaVersion": 6,
      "experimentalObjectRestSpread": true
    }
  }
}